html {
    scroll-behavior: smooth;
}
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography & Body Styles */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(78deg, #8892b0 35%,  #112240 53%);
    color: #fff; /* White text color */
    line-height: 1.6;
}



/*--------------------------------------------*/
/*header */
.site-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    padding: 0 50px;
    --s: 37px; /* control the size */

    --c: #0000, #112240 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
      var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
      var(--g3) 0 calc(1.73 * var(--s)) #0a192f; /* Changed to dark blue */
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}


.header-content p {
    font-size: 1.5rem;
    color: #e6f1ff #e6f1ff;
}

.header-content h2 {
    font-size: 1.5rem;
    color: #e6f1ff #e6f1ff;
    margin-bottom: 20px;
    margin-left: 100px
   
    
}

.portfolio-button {
    display: flex;    
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #64FFDA;
    border: none;
    border-radius: 20px;
    color: #0a192f;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 720px;

  
}

.portfolio-button:hover {
    background-color: #CCD6F6;
    color: #0a192f;
}
  /* When you change the amount of characters in the h1, you have to change 
  the with: 14ch and  steps(14, end), if there is 14 characters, put 14, 
  if there is 20 put 20 */
  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }
  /* When you change the amount of characters in the h1, you have to change 
  the with: 14ch and  steps(14, end), if there is 14 characters, put 14, 
  if there is 20 put 20 */
  .animation {
    font: bold 520% Consolas, Monaco, monospace; /* Makes the text bigger */
    border-right: 0em solid #e6f1ff #e6f1ff;
    width: 31ch;
    margin: 2em 2em;
    white-space: nowrap;
    overflow: hidden;
    text-align:left; /* Aligns the text to the left */
    -webkit-animation: typing 3s steps(31, end),
                 blink-caret .3s step-end infinite alternate;
    animation: typing 3s steps(31, end),
                 blink-caret .3s step-end infinite alternate;
}

/* About Section Styles */
#about-me {
    display: flex; /* Enables Flexbox layout */
    margin: 0 auto;
    max-width: 70%; /* Limits width of content */
    color: #ccd6f6; /* Soft light blue text */
    padding: 60px; /* Add padding for better spacing */
}

#about-me .left-column, #about-me .right-column {
    flex: 1; /* Each column takes up equal space */
    margin: 30px; /* Add some margin for spacing between columns */

}

#about-me .left-column {
    text-align: left; /* Aligns text to the left */
    
}

#about-me .right-column {
    text-align: left; /* Aligns text to the right */
    flex: 0.7; /* Right column takes up 80% of the space */
    
}

#about-me h2, #about-me h3 {
    color: #eff6f4; /* Bright aqua color for headings */
    padding-left: 2rem; /* Adds a bit of padding to the left of headings */
}

#about-me h2 {
    margin-left: 60px;
    font-size: 80px;
    
}

#about-me h3 {
    margin-bottom: 20px;
    margin-left: 60px;
    font-size: 18px;
    COLOR:#8892b0;
}

#about-me p {
    color: #8892b0; /* Lighter grey for paragraph */
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 60px;
    margin-left: px;
}


#about-me b,a {
    color:#e6f1ff;
    font-weight: bold;
    
}

#about-me a:hover {
    text-decoration: underline;
    
}

/* Techinal Skills Section */
.technical.skills {
    margin-top: 60px;
    background-color:#233554; /* Dark navy blue */
    color: #ccd6f6; /* Soft light blue text */
    font-size: 16px;
    padding: 20px;
    border-radius: 10px;
    margin-right: 90px;
}

.technical.skills h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: justify;
}

.technical.skills ul {
    list-style: none; /* Removes list bullets */
    padding: 0;
}

.technical.skills li {
    display: inline-block;
    background-color: #112240; /* Slightly lighter navy blue */
    color: #aee6d9;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.technical.skills li i {
    margin-right: 10px; /* Adds space to the right of the icon */
    
}



/* Navigation Styling */
nav {
    width: 75%; /* Ensures the nav fills the container */
    margin-top: 0px; /* Centers the nav */
   
    
}
nav ul {
    list-style-type: none; /* Removes default list styling */
    padding: 0;
    text-align: center; /* Centers the list items */
    width: 100%;
}

nav ul li {
    position: relative; /* Needed for absolute positioning of the line icon */
    padding: 10px 0; /* Adds vertical padding for each link */
}

nav ul li a {

    text-decoration: none;
    font-size: 20px;
    transform: translateX(20px); /* Moves the entire navigation item to the right */
    
}

nav ul li a:hover {
    COLOR:#8892b0;
    transform: translateX(20px); /* Moves the link 10px to the right */
}


/*------------------------------------------------------------------------------------------------*/
/* Experience Section */
#experience h2 {
    color: #ccd6f6; /* Light blue text */
    font-size: 2em; /* Makes the font size 2 times the base font size */
    text-align: left; /* Centers the text */
    margin-left: 250px;
    margin-bottom: 20px; /* Adds some space below the title */
}

#experience .job {
    border-bottom: 1px solid #233554; /* Subtle separator for jobs */
    padding-bottom: 0px;
    margin-bottom: 50px;
    background-color: rgba(10, 25, 47, 0.75); /* Semi-transparent dark navy blue */
    padding: 40px 50px;
    margin: 20px auto; /* Top and bottom margin is 20px, left and right margin is auto */
    border-radius: 10px;
    border-left: 30px solid #d1eee8; /* Left border with cyan highlight */
    width: 80%; /* Width is 80% of the parent element */
    backdrop-filter: blur(20px); /* Blurs the area behind the element */
}


#experience .job:last-child {
    border-bottom: 20px; /* No border for the last job entry */
}

#experience h3 {
    color: #64ffda; /* Cyan highlight */
    font-weight: 600;
}

#experience p {
    color: #8892b0; /* Light gray-blue text */
    font-size: 16px;
    line-height: 1.6;
}

#experience ul.skills {
    list-style: none; /* Removes list bullets */
    padding: 0;
}

#experience ul.skills li {
    display: inline-block;
    background-color: #112240; /* Slightly lighter navy blue */
    color: #64ffda;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}


/* Projects Section */
#projects h2 {
    color: #ccd6f6; /* Light blue text */
    font-size: 2em; /* Makes the font size 2 times the base font size */
    text-align: left; /* Centers the text */
    margin-top: 50px;
    margin-bottom: 20px; /* Adds some space below the title */
    margin-left: 250px;
}

#projects .project {
    display: flex; /* Enables flexbox layout */
    align-items: flex-start; /* Aligns items at the start vertically */
    border-bottom: 1px solid #233554;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: rgba(10, 25, 47, 0.75); /* Semi-transparent dark navy blue */
    padding: 40px 50px;
    margin: 20px auto; /* Centering the section */
    border-radius: 10px;
    border-right: 30px solid #d1eee8; /* Cyan highlight */
    width: 80%; /* Adjusted width */
    box-sizing: border-box; /* Includes padding and border in the width */
    backdrop-filter: blur(20px); /* Blurs the area behind the element */
}

#projects .project:last-child {
    border-bottom: none; /* Removes bottom border from the last project */
}

#projects .project-img {
    width: 400px; /* Set the width */ /* Set the height */
    object-fit: cover;
    margin-top: 15px; /* Adds space above the image */
}

#projects .project img {
    width: 100%; /* Full width within its container */
    height: auto; /* Maintains aspect ratio */
    border-radius: 10px; /* Rounds the corners */
}

#projects .project-info {
    flex: 3; /* Takes 3 portions of the space, making it larger than the image container */
    padding-left: 20px; /* Space between image and text */
}

#projects h3 {
    color: #64ffda; /* Cyan color for headers */
    font-weight: 600; /* Bold font weight */
}

#projects p, #projects ul.skills {
    color: #8892b0; /* Light gray-blue text */
    font-size: 16px;
}

#projects ul.skills {
    list-style: none; /* No bullet points */
    padding: 0;
}

#projects ul.skills li {
    display: inline-block;
    background-color: #112240; /* Dark background for skills */
    color: #64ffda; /* Cyan text color */
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}

.btn svg {
    transition: transform 0.5s;
  }
  
  .btn:hover svg {
    transform: scale(0.9);
    fill: #333333;
  }
  



  .btn {
    display: grid;
    place-items: center;
    background: #e3edf7;
    padding: 0.5em 0.5em;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.5s;
    margin-left: 1250px; 
    margin-top: 15px;
  
  }
  
  .btn:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    transform: translateY(0.5em);
  }
  
  .btn svg {
    transition: transform 0.5s;
    width: 2em; /* Adjust as needed */
    height: 2em; /* Adjust as needed */
    fill: #6fa6e5; /* Change color to a different concept, here is a coral color */
  }
  
  .btn:hover svg {
    transform: scale(0.8);
    fill: #000000; /* Change color on hover, here is a steel blue color */
  }
  
  
/*--------------------------------------------*/

    #contact-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 40px 50px;
        margin: 20px auto;
        border-radius: 10px;
        background-color: rgba(10, 25, 47, 0.75); /* Semi-transparent dark navy blue */
        color: #ccd6f6; /* Soft light blue text */
        width: 80%; /* Adjust based on your layout needs */
        backdrop-filter: blur(5px); /* Blurs the area behind the element */
    }

 
#contact, #Other {
    flex: 1; /* Each section takes equal space */
    padding: 10px; /* Adds some padding inside each column */
}

.card {
    display: flex;
    height: 60px;
    width: 350px;
    margin-top: 20px;
    margin-right: -20px;
  }
  
  .card svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    padding: 0.25rem;
    cursor: pointer;
  }
  
  .card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .card svg {
    transform: scale(1);
  }
  
  .card .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link2:hover {
    background-color: #242c34;
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link3:hover {
    background-color: #5865f2;
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link4:hover {
    background-color: #0a66c2;
    animation: bounce_613 0.4s linear;
  }
  
  
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }

  button {
    min-height: 53px;
    min-width: 166px;
    margin-top: 30px;
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
  }
  
  button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  
  button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }
  
  button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  button:hover svg {
    transform: rotate(-45deg);
  }

  /* Footer Styles */
  footer {
    background-color: #233554; /* Dark navy blue */
    color: #ccd6f6; /* Light gray-blue text */
    padding: 20px 50px; /* Ample padding for layout */
    display: flex;
    justify-content: space-between; /* Distributes space between children */
    align-items: center; /* Aligns items at the center */
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    font-size:24px; /* Increases the font size for better readability */
}

.footer-content {
    width: 100%; /* Ensures footer content spans the full width */
    display: flex;
    justify-content: space-between; /* Space distribution */
    align-items: center; /* Vertical alignment */
    
}

.footer-left, .footer-right {
    flex: 1; /* Each section takes half the width of the footer */

}

.footer-left nav ul {
    list-style: none; /* Removes list bullets */
    padding: 0;
    display: flex; /* Makes the list horizontal */
    gap: 20px; /* Adds space between navigation items */
}

.footer-left nav ul li a {
    margin-left:60px;
    margin-top: 30px; /* Adds space above the navigation links */
    color: #64ffda; /* Bright cyan for links */
    text-decoration: none; /* Removes underline */
    font-weight: bold; /* Makes font bold */
}

.footer-left nav ul li a:hover {
    text-decoration: underline; /* Adds underline on hover for visibility */
}

.footer-right {
    text-align: right; /* Aligns the content to the right */
    display: flex;
    flex-direction: column; /* Organizes content vertically */
    align-items: flex-end; /* Aligns items to the right side */
    padding-right: 20px; /* Adds padding to the right for spacing from the edge */
}



.footer-right .email-links {
    display: flex;
    flex-direction: column; /* Stacks email links vertically */
    align-items: flex-end; /* Aligns email links to the right */
    margin-top: 20px;
}

.footer-right .email-link {
    color: #e6f1ff; /* Bright cyan */
    text-decoration: none; /* No underline initially */
    margin-bottom: 5px; /* Space between email links */
}

.footer-right .email-link:hover {
    text-decoration: underline; /* Underline on hover */
}


/* Responsive Design for Smaller Laptops */
@media (max-width: 1024px) {
    .header-content h1 {
        font-size: 3rem; /* Smaller font size for headings */
    }

    .header-content p,
    .header-nav ul li a,
    #about-me p,
    .technical.skills,
    #experience p,
    #projects p,
    footer p {
        font-size: 14px; /* Smaller font size for text */
    }

    #about-me,
    #experience .job,
    #projects .project,
    #contact-wrapper {
        width: 90%; /* More width to accommodate less screen space */
        padding: 20px; /* Less padding */
    }

    #about-me h2,
    #experience h2,
    #projects h2 {
        font-size: 60px; /* Smaller heading size */
        margin-left: 20px; /* Less margin */
    }

    nav ul li a {
        font-size: 18px; /* Smaller font size for navigation links */
    }

    .site-header,
    .footer-content {
        padding: 20px; /* Reduced padding */
    }
}

/* Responsive Design for Mobile Devices */
@media (max-width: 768px) {
    body {
        padding: 0 10px; /* Even smaller padding for mobile screens */
    }

    .site-header {
        padding: 0 20px; /* Adjust header padding */
        height: auto; /* Adjust height to be auto */
    }

    .header-content h1 {
        font-size: 2.5rem; /* Even smaller font size for mobile */
    }

    .header-content p,
    .header-nav ul li a,
    #about-me p,
    .technical.skills,
    #experience p,
    #projects p,
    footer p {
        font-size: 12px; /* Reduce font size for readability on small screens */
    }

    #about-me,
    #experience .job,
    #projects .project,
    #contact-wrapper {
        flex-direction: column; /* Stack elements vertically */
        width: 100%; /* Use full width for small screens */
    }

    #about-me .left-column,
    #about-me .right-column,
    #projects .project-img,
    #projects .project-info {
        flex: 100%; /* Make each column full width */
    }

    .header-nav ul {
        flex-direction: column; /* Stack nav items vertically */
        align-items: center; /* Center align the items */
    }

    .footer-content,
    .footer-right {
        flex-direction: column; /* Stack footer content vertically */
        align-items: center; /* Center alignment for better presentation */
        text-align: center; /* Center align the text */
    }

    .footer-right .social-media,
    .footer-right .email-links {
        justify-content: center; /* Center these elements */
    }

    button,
    .animated-button {
        width: 100%; /* Full width buttons for easier access */
        margin-top: 20px; /* More top margin for separation */
    }
}

/* General Adjustments for All Responsive Layouts */
nav,
footer {
    flex-wrap: wrap; /* Allow nav and footer items to wrap on smaller screens */
}

.animated-button,
.nav ul li,
.footer-left nav ul li,
.footer-right .social-media a {
    padding: 10px; /* Increase padding for touch friendliness */
}

